#Home {
  height: 100svh;
  overflow-y: visible;
}

.hero__container {
  padding-inline: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.hero__container > div {
  --_height: 40rem;
  height: calc(var(--_height) / 1.5);
  display: flex;
  flex-direction: row;
}

.image__container {
  position: relative;
  height: var(--_height);
}

.image__container > svg {
  width: 100%;
  height: var(--_height);
  position: absolute;
  overflow: visible;
  z-index: -1;
}

.image__container > div {
  width: calc(var(--_height) / 1.5);
  padding: 3rem;
}

.image__container > div > img {
  border-radius: 50%;
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

.title__name {
  font-size: 4rem;
}

.title__profession {
  font-size: 2.25rem;
}

.hero__nav > ul {
  list-style: none;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}
