.nav-menu {
  background-color: #242424;
  padding-block: 2.75rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.nav-menu__container {
  max-width: 1600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-inline: auto;
  padding-inline: 2rem;
  flex-wrap: wrap;
  row-gap: 1rem;
}

.nav-title {
  font-size: 1.25rem;
  flex-grow: 1;
}

.nav-links__container {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 3rem;
  margin-inline: auto;
}

.nav-links__container > * {
  flex-grow: 1;
}
