:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #d67418;
  color: rgb(255, 255, 255);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

/* TODO: IMPORT WORK SANS FONT and other font used */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html {
  font-size: 16px;
  } */

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
  transition: filter 0.1s ease-in-out;
}
a:hover {
  filter: brightness(0.9);
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-center {
  justify-content: center;
  align-items: center;
}
